@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$clr-green: rgb(52, 196, 57);
$header-height: 120px;

*{
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
}
body{
    user-select: none;
    color: white !important;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./media/app-bg.bfb12b5b.png') !important;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: $clr-green;
    border-radius: 50px;
}

// ******************************* components *******************************
.header{
    border-bottom: 2px solid #0b6a0e;
    height: $header-height;
    display: flex;
    align-items: center;
    .icons{
        .icon{
            background-color: #011101;
            border: 1px solid #013005;
            cursor: pointer;
            padding: 0.4rem;
            border-radius: 4px;
            color: white;
            transition: all 0.2s linear;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .drop-down{
        color: $clr-green;
        cursor: pointer;
        position: relative;
        &:hover{
            a{
                display: block;
            }
        }
        a{
            display: none;
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 140px;
            border-radius: 10px;
            background-color: black;
            font-weight: 600;
            color: white;
            padding: 0.5rem;
        }
    }
}
.main{
    height: calc(100vh - $header-height);
    overflow-y: auto;
}
.sidebar{
    height: calc(100vh - $header-height);
    overflow-y: auto;
    overflow-x: hidden;
    border-left:2px solid #0b6a0e;
    border-right:2px solid #0b6a0e;
}

.time-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1.2rem auto;
    animation: glow-shadow 0.5s ease-in infinite alternate;
    .time{
        color: $clr-green;
        animation: scale-up 0.5s ease-in infinite alternate;
    }
}
@keyframes glow-shadow {
    from{
        box-shadow: 1px 1px 20px $clr-green;
    }
    to{
        box-shadow: 1px 1px 30px $clr-green;
    }
}
@keyframes scale-up {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.calculator{
    .input-wrapper{
        position: relative;
        .chakra-input {
                background-color: rgba(128, 128, 128, 0.295) !important;
                border-radius: 10px;
                font-weight: bold;
                padding-top: 1.4rem !important;
                padding-bottom: 1.4rem !important;
        
                &:focus {
                    border-color: unset;
                    outline: unset;
                }
            }
        span{
            cursor: pointer;
            position: absolute;
            bottom: 0.8rem;
            right: 1rem;
        }
    }
}

.analytics{
    table{
        width: 100%;
        thead {
            border-bottom: 1px solid silver;
                tr {
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    padding: 1rem;
                    justify-content: space-between;
        
                    th {
                        color: $clr-green !important;
                    }
                }
            }
    }
}

// ******************************* overrides *******************************



// ******************************* utils *******************************
.light-green{
    background: $clr-green !important;
    color: white;
}
.dark-green{
    background-color: #011101 !important;
    border: 1px solid #013005 !important;
    color: white;
}
.bg-grad{
    background: linear-gradient(90deg, #024b05, #36d33b) !important;
    color: white;
    border: 1px solid $clr-green !important;
}
.txt-light-green{
    color: #07de0f;
}
.light-green-border{
    border: 1px solid #0b6a0e;
}
.light-green-border-high{
    border: 2px solid #07de0f;
}